/**
 * All Rights Reserved
 * Copyright (c) 2021 Yegun Kim
 * Created by Yegun Kim (https://ibocon.tistory.com)
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

////
/// `Button` 컴포넌트 스타일 모듈입니다.
/// @author Yegun Kim
////
@use "sass:string" as string;
@use "~/src/style" as style;
    
/* 1. variable */

/* 1.1. layout */
$padding-x-base:                0.95rem !default;
$padding-x-small:               0.75rem !default;
$padding-x-large:               1.25rem !default;

$padding-y-base:                0.25rem !default;
$padding-y-small:               0.15rem !default;
$padding-y-large:               0.35rem !default;

$border-width-base:             style.$variable-border-width-base !default;
$border-style-base:             style.$variable-border-style-base !default;
$border-color-base:             style.$variable-border-color-base !default;

$border-radius-base:            style.$variable-border-radius-base !default;
$border-radius-small:           style.$variable-border-radius-small !default;
$border-radius-large:           style.$variable-border-radius-large !default;

$background-color-base:         style.$variable-color-white;

/* 1.2. text */
$font-family:                   null !default;
$text-color-base:               style.$variable-text-color-base;

$font-size-base:                style.$variable-font-size-base !default;
$font-size-small:               style.$variable-font-size-small !default;
$font-size-large:               style.$variable-font-size-large !default;

$font-weight:                   style.$variable-font-weight-normal !default;
$line-height:                   style.$variable-line-height-base !default;

// $white-space:                null !default; // Set to `nowrap` to prevent text wrapping

// $box-shadow:                 inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
// $focus-width:                $input-btn-focus-width !default;
// $focus-box-shadow:           $input-btn-focus-box-shadow !default;
// $disabled-opacity:           .65 !default;
// $active-box-shadow:          inset 0 3px 5px rgba($black, .125) !default;

// $link-color:                 $link-color !default;
// $link-hover-color:           $link-hover-color !default;
// $link-disabled-color:        $gray-600 !default;

// $transition:                 color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// $hover-bg-shade-amount:      15% !default;
// $hover-bg-tint-amount:       15% !default;
// $hover-border-shade-amount:  20% !default;
// $hover-border-tint-amount:   10% !default;
// $active-bg-shade-amount:     20% !default;
// $active-bg-tint-amount:      20% !default;
// $active-border-shade-amount: 25% !default;
// $active-border-tint-amount:  10% !default;

/* 2. mixin */
@mixin size($padding-x, $padding-y, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    @include style.vendor-font-size($font-size);
    @include style.mixin-border-radius($border-radius, 0);
}

@mixin color($text-color, $background-color) {
    color: $text-color;
    background-color: $background-color;

}

@mixin border($border-width, $border-style, $border-color) {
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
}

/* 3. selector */
$prefix-base: #{style.$variable-prefix-root}-button;
.#{$prefix-base} {
    
    position: initial;
    display: inline-block;
    vertical-align: middle;

    outline: 0rem;

    text-align: center;
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $line-height;
    white-space: nowrap;
    text-decoration: none;
    
    transition: all 0.3s style.function-get-timing-function(ease-in-out);

    cursor: pointer;
    user-select: none;

    @include size($padding-x-base, $padding-y-base, $font-size-base, $border-radius-base);
    @include border($border-width-base, $border-style-base, $border-color-base);
    @include color($text-color-base, $background-color-base);

    &:hover {
        @include border($border-width-base, $border-style-base, #40A9FF);
        @include color(#40A9FF, $background-color-base);
    }
    /* size */
    &__small {
        @include size($padding-x-small, $padding-y-small, $font-size-small, $border-radius-small);
    }
    
    &__large {
        @include size($padding-x-large, $padding-y-large, $font-size-large, $border-radius-large);
    }

}

:export { 
    base: $prefix-base;
    small: #{$prefix-base}__small; 
    large: #{$prefix-base}__large; 
}