
$button-background-color: rgb(255, 0, 0);

// // Button 버튼
// $btn-font-weight: 400;

// $btn-height-lg: variable.$height-lg;
// $btn-height-sm: variable.$height-sm;

// :export {
//     theme-name: $theme-name;
//     btn-font-weight: $btn-font-weight;
//     btn-shadow: $btn-shadow;
    
//     btn-height-base: $btn-height-base;
//     btn-height-lg: $btn-height-lg;
//     btn-height-sm: $btn-height-sm;    
// }