/**
 * All Rights Reserved
 * Copyright (c) 2021 Yegun Kim
 * Created by Yegun Kim (https://ibocon.tistory.com)
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

////
/// animation 변수 모음입니다.
/// @group Variable
/// @author Yegun Kim
/// @link https://easings.net timing-function 을 만드는데 참고했습니다.
////

/// 유명한 cubic-bezier 함수에 입력하여 timing-function 을 만드는데 사용되는 Map 변수
/// @type Map
/// @author Robert Penner
$easeing-functions: (
    linear:            (0.250, 0.250, 0.750, 0.750),
    ease:              (0.250, 0.100, 0.250, 1.000),
    ease-in:           (0.420, 0.000, 1.000, 1.000),
    ease-out:          (0.000, 0.000, 0.580, 1.000),
    ease-in-out:       (0.420, 0.000, 0.580, 1.000),
    
    /* 1.1. sine */
    ease-in-sine:      (0.47, 0, 0.745, 0.715),
    ease-out-sine:     (0.39, 0.575, 0.565, 1),
    ease-in-out-sine:  (0.39, 0.575, 0.565, 1),
    
    /* 1.2. quad  */
    ease-in-quad:      (0.55, 0.085, 0.68, 0.53),
    ease-out-quad:     (0.25, 0.46, 0.45, 0.94),
    ease-in-out-quad:  (0.25, 0.46, 0.45, 0.94),
    
    /* 1.3. cubic */
    ease-in-cubic:     (0.55, 0.055, 0.675, 0.19),
    ease-out-cubic:    (0.215, 0.61, 0.355, 1),
    ease-in-out-cubic: (0.215, 0.61, 0.355, 1),
    
    /* 1.4. quart */
    ease-in-quart:     (0.895, 0.03, 0.685, 0.22),
    ease-out-quart:    (0.165, 0.84, 0.44, 1),
    ease-in-out-quart: (0.165, 0.84, 0.44, 1),
    
    /* 1.5. quint */
    ease-in-quint:     (0.755, 0.05, 0.855, 0.06),
    ease-out-quint:    (0.23, 1, 0.32, 1),
    ease-in-out-quint: (0.23, 1, 0.32, 1),
    
    /* 1.6. expo */
    ease-in-expo:      (0.95, 0.05, 0.795, 0.035),
    ease-out-expo:     (0.19, 1, 0.22, 1),
    ease-in-out-expo:  (0.19, 1, 0.22, 1),
    
    /* 1.7. circ */
    ease-in-circ:      (0.6, 0.04, 0.98, 0.335),
    ease-out-circ:     (0.075, 0.82, 0.165, 1),
    ease-in-out-circ:  (0.075, 0.82, 0.165, 1),
    
    /* 1.8. back */
    ease-in-back:      (0.6, -0.28, 0.735, 0.045),
    ease-out-back:     (0.175, 0.885, 0.32, 1.275),
    ease-in-out-back:  (0.68, -0.55, 0.265, 1.55),
);
