/**
 * All Rights Reserved
 * Copyright (c) 2021 Yegun Kim
 * Created by Yegun Kim (https://ibocon.tistory.com)
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

////
/// 컬러 변수 모음입니다.
/// RGB 컬러 모델보다 HSL 컬러 모델을 익히면 더 직관적으로 컬러를 예상할 수 있기 때문에 HSL 을 선호합니다.
/// @group Variable
/// @author Yegun Kim
/// @link https://sujansundareswaran.com/blog/why-hsl-is-better-than-hex-and-rgb
////

/* Ledger color */
$color-white:           hsl(0, 100%, 100%) !default;

$color-black:           hsl(360, 0%, 0%) !default;

/* Bootstrap color */
// $color-white:       #fff !default;
$color-gray-100:    #f8f9fa !default;
$color-gray-200:    #e9ecef !default;
$color-gray-300:    #dee2e6 !default;
$color-gray-400:    #ced4da !default;
$color-gray-500:    #adb5bd !default;
$color-gray-600:    #6c757d !default;
$color-gray-700:    #495057 !default;
$color-gray-800:    #343a40 !default;
$color-gray-900:    #212529 !default;
// $color-black:       #000 !default;

$color-blue:        #0d6efd !default;
$color-indigo:      #6610f2 !default;
$color-purple:      #6f42c1 !default;
$color-pink:        #d63384 !default;
$color-red:         #dc3545 !default;
$color-orange:      #fd7e14 !default;
$color-yellow:      #ffc107 !default;
$color-green:       #198754 !default;
$color-teal:        #20c997 !default;
$color-cyan:        #0dcaf0 !default;

$color-primary:       $color-blue !default;
$color-secondary:     $color-gray-600 !default;
$color-success:       $color-green !default;
$color-info:          $color-cyan !default;
$color-warning:       $color-yellow !default;
$color-danger:        $color-red !default;
$color-light:         $color-gray-100 !default;
$color-dark:          $color-gray-900 !default;