/**
 * All Rights Reserved
 * Copyright (c) 2021 Yegun Kim
 * Created by Yegun Kim (https://ibocon.tistory.com)
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

////
/// 레이아웃 변수 모음입니다.
/// @group Variable
/// @author Yegun Kim
////

@use "color" as color;

/* 1. box-shadow */
$box-shadow:                  0 0.5rem 1rem rgba(color.$color-black, 0.15) !default;
$box-shadow-sm:               0 0.125rem 0.25rem rgba(color.$color-black, 0.075) !default;
$box-shadow-lg:               0 1rem 3rem rgba(color.$color-black, 0.175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba(color.$color-black, 0.075) !default;

/* other */
$component-active-color:      color.$color-white !default;
$component-active-bg:         color.$color-primary !default;

$caret-width:                 .3em !default;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;